body::before {
	display: block;
	content: '';
	height: 60px;
}

/* MAP */
.map {
	width: 100%;
	height: 400px;
}
a.skiplink {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
a.skiplink:focus {
	clip: auto;
	height: auto;
	width: auto;
	background-color: #fff;
	padding: 0.3em;
}
#map:focus {
	outline: #4a74a8 solid 0.15em;
}

@media (min-width: 768px) {
	.news-input {
		width: 50%;
	}
}
